<div class="container">
  <h1 style="font-weight: bold"> Questionnaire d'évaluation à chaud </h1>

  <form autocomplete="off" name="formQuestionnaire" #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)">

    <!-- CHAMP ENVOI REUSSI -->
    <div style="width: 18%" class="alert alert-info" *ngIf="formulaireEnvove === true">
      Formulaire bien envoyé.
    </div>

    <!-- CHAMP NOM PRENOM -->
    <div class="collapse in" id="collapseSensi">
      <div class="form-group row">
        <div class="col-xs-2">
          <label for="nomInput">Nom</label>
          <input class="form-control" type="text" id="nomInput" name="nom" [(ngModel)]="nomEleve" #nom="ngModel" required>
        </div>
        <div class="col-xs-2">
          <label for="prenomInput">Prénom</label>
          <input class="form-control" type="text" id="prenomInput" name="prenom" [(ngModel)]="prenomEleve" #prenom="ngModel" required>
        </div>
      </div>

      <!-- VALIDATION PRENOM NOM -->
      <div *ngIf="nom.invalid && (nom.touched || nom.dirty)">
        <div style="width: 17%; padding: 10px" class="alert alert-danger">
          Vous devez entrer un nom.
        </div>
      </div>
      <div *ngIf="prenom.invalid && (prenom.touched || prenom.dirty)">
        <div style="width: 20%; padding: 10px" class="alert alert-danger">
          Vous devez entrer un prénom.
        </div>
      </div>
    </div>

    <!-- BOUTON D'ANONYMAT -->
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSensi"
            aria-expanded="false" aria-controls="collapseSensi">
      Questionnaire anonyme
    </button> <br>

    <!-- CHAMP EMAIL -->
    <div class="form-group row">
      <div class="col-xs-3">
        <label for="emailInputId">Adresse e-mail</label>
        <input class="form-control" type="email" name="mailEleve" id="emailInputId"
               [(ngModel)]="mailEleve" #email="ngModel" required placeholder="adresse@example.com">
        <small id="emailHelp" class="form-text">Votre adresse sera utilisée pour vous envoyer
          un questionnaire "à froid" dans 3 mois.</small>
      </div>
    </div>
    <!-- VALIDATION CHAMP EMAIL -->
    <div *ngIf="email.invalid && (email.touched || email.dirty)">
      <div style="width: 25%; padding: 10px" class="alert alert-danger">
        <div *ngIf="email.errors?.required">
          Vous devez entrer une adresse e-mail.
        </div>
        <!-- Autres types d'erreur ... ? -->
      </div>
    </div>

    <!-- CHAMP NOMS FORMATEUR ET FORMATION -->
    <div class="form-group row">
      <div class="col-xs-3">
        <b>Nom du formateur</b>
        <input class="form-control" type="text" id="nomFormateurId" name="nomFormateur" [(ngModel)]="nomFormateur"
                        #formateur="ngModel" required>
      </div>
      <div class="col-xs-4">
        <b>Intitulé de la formation</b>
        <input class="form-control" type="text" id="nomFormationId" name="nomFormation" [(ngModel)]="nomFormation"
                        #formation="ngModel" required>
      </div>
    </div>
    <!-- VALIDATION FORMATEUR FORMATION -->
    <div style="width: 25%; padding: 10px" class="alert alert-danger"
         *ngIf="formateur.invalid && (formateur.touched || formateur.dirty)">
        Vous devez rentrer un nom de formateur.
    </div>
    <div style="width: 25%; padding: 10px" class="alert alert-danger"
         *ngIf="formation.invalid && (formation.touched || formation.dirty)">
        Vous devez rentrer un intitulé de formation.
    </div>

    <!-- RADIO RAISON SUIVI DE LA FORMATION -->
    <b>{{questionsReponsesRadio.suiviFormation['question']}}</b>
    <div class="form-group">
      <div *ngFor="let options of radioRaisonFormation" class="form-check">
          <input (change)="storeValueRadio($event, questionsReponsesRadio.suiviFormation, 'reponse')"
                 class="form-check-input" type="radio" value="{{options}}" name="raisonSuiviRadio">
          <span style="font-weight: normal"> {{options}}</span>
      </div>
    </div>
    <!-- VALIDATION SUIVI FORMATION RADIO -->
    <div style="width: 25%; padding: 10px" class="alert alert-danger">
      Veuillez choisir une des options.
    </div>

    <!-- RADIO SATISFACTION DE LA FORMATION -->
    <b>{{questionsReponsesRadio.satisfactionFormation['question']}}</b> <br>
    <div class="form-group" id="satisfactionFormation">
      <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.satisfactionFormation, 'reponse')"
               class="form-check-input" type="radio" name="satisfactionRadio" value={{satisfaction}}>
        <span style="font-weight: normal"> {{satisfaction}} </span>
      </div>
    </div>
    <!-- VALIDATION SATISFACTION FORMATION RADIO -->

    <!-- TEXTAREA DETAILS INSATISFACTION FORMATION -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="insatisfactionDetails">En cas d’insatisfaction, pourquoi cette formation n’a pas répondue à vos besoins ?</label>
        <textarea class="form-control" id="insatisfactionDetails" rows="3" name="areaInsatisfaction"
                  [(ngModel)]="reponsesTextarea['areaInsatisfaction']" #areaInsatisfaction="ngModel" required> </textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS OBJECTIFS CLAIREMENT DEFINIS -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="objectifsClairs">Selon vous, les objectifs de la formation ont- ils été clairement formulés en début de session ?</label>
        <textarea class="form-control" id="objectifsClairs" rows="3" name="areaObjectifs"
        [(ngModel)]="reponsesTextarea['areaObjectifs']" #areaObjectifs="ngModel" required></textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS PLUS UTILE FORMATION -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="plusUtile">Qu'est-ce qui vous a paru le plus utile pendant cette formation?</label>
        <textarea class="form-control" id="plusUtile" rows="3" name="areaPlusUtile"
        [(ngModel)]="reponsesTextarea['areaPlusUtile']" #areaPlusUtile="ngModel" required></textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS INTERETS NEGATIF -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="nonInteret">Quels points n’ont pas retenu votre intérêt ?</label>
        <textarea class="form-control" id="nonInteret" rows="3" name="areaInterets"
        [(ngModel)]="reponsesTextarea['areaInterets']" #areaInterets="ngModel" required></textarea>
      </div>
    </div>

    <!-- RADIO APPROFONDISSEMENTS FORMATION -->
    <b>{{questionsReponsesRadio.approfondissementFormation['question']}}</b>
    <div class="form-group" id="approfFormation">
      <div class="form-check form-check-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.approfondissementFormation, 'reponse')"
               class="form-check-input" type="radio" name="approfondissementsFormation" id="approfondissementsFormation1"
               value="Oui">
        <label class="form-check-label" for="approfondissementsFormation1">
          <span style="font-weight: normal"> Oui, lesquels ? </span>
          <input type="text" name="detailsApprof" [(ngModel)]="questionsReponsesRadio.approfondissementFormation['details']"
                 #detailsApprof="ngModel" required style="width: 60%">
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.approfondissementFormation, 'reponse')"
               class="form-check-input"  type="radio" name="approfondissementsFormation" id="approfondissementsFormation2"
               value="Non">
        <label style="width: 80%" class="form-check-label" for="approfondissementsFormation2">
          <span style="font-weight: normal"> Non  </span>
        </label>
      </div>
    </div>
    <!-- VALIDATION APPROFONDISSEMENT RADIO -->

    <!-- RADIO ECOUTE PROFESSEUR -->
    <b>{{questionsReponsesRadio.ecouteFormation['question']}}</b>
    <div class="form-group">
        <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
          <input (change)="storeValueRadio($event, questionsReponsesRadio.ecouteFormation, 'reponse')"
                 class="form-check-input" type="radio" name="ecouteFormation" value="{{satisfaction}}">
          <span style="font-weight: normal">{{satisfaction}}</span>
        </div>
    </div>
    <!-- VALIDATION ECOUTE RADIO -->

    <!-- RADIO COMPETENCES ENSEIGNEES PROFESSEUR -->
    <b>{{questionsReponsesRadio.competencesFormation['question']}}</b>
    <div class="form-group">
        <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
          <input (change)="storeValueRadio($event, questionsReponsesRadio.competencesFormation, 'reponse')"
                 class="form-check-input" type="radio" name="competencesRadio" value="{{satisfaction}}">
          <span style="font-weight: normal">{{satisfaction}}</span>
        </div>
    </div>
    <!-- VALIDATION COMPETENCES RADIO -->

    <!-- RADIO ARTICULATION ENTRE PHASES -->
    <b>{{questionsReponsesRadio.phasesFormation['question']}}</b>
    <div class="form-group">
      <div *ngFor="let options of radioPhasesFormation" class="form-check">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.phasesFormation, 'reponse')"
               class="form-check-input" type="radio" value="{{options}}" name="phasesRadio">
        <span style="font-weight: normal"> {{options}}</span>
      </div>
    </div>
    <!-- VALIDATION PHASES RADIO -->

    <!-- RADIO ENVIRONNEMENT DU STAGE -->
    <b>{{questionsReponsesRadio.environnementFormation['question']}}</b>
    <div class="form-group">
      <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.environnementFormation, 'reponse')"
               class="form-check-input" type="radio" name="environnementRadio" value="{{satisfaction}}">
        <span style="font-weight: normal">{{satisfaction}}</span>
      </div>
    </div>
    <!-- VALIDATION ENVIRONNEMENT RADIO -->

    <!-- RADIO QUALITE OUTILS PEDAGOGIQUES -->
    <b>{{questionsReponsesRadio.outilsFormation['question']}}</b>
    <div class="form-group" id="outilsPedagogiques">
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="storeValueRadio($event, questionsReponsesRadio.outilsFormation, 'reponse')"
              type="radio" name="outilsPedagogiques" id="outilsPedagogiques1" value="Oui">
        <label class="form-check-label" for="outilsPedagogiques1">
          <span style="font-weight: normal"> Oui </span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="storeValueRadio($event, questionsReponsesRadio.outilsFormation, 'reponse')"
               type="radio" name="outilsPedagogiques" id="outilsPedagogiques2" value="Non">
        <label style="width: 80%" class="form-check-label" for="outilsPedagogiques2">
          <span style="font-weight: normal"> Non, pourquoi ? </span>
          <input type="text" id="outilsPedagos" [(ngModel)]="questionsReponsesRadio.outilsFormation['details']"
                 name="detailsOutils" #detailsOutils="ngModel" style="width: 60%">
        </label>
      </div>
    </div>
    <!-- VALIDATION OUTILS RADIO -->

    <!-- TEXTAREA CHANGEMENTS FORMATION POSSIBLES -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="changementsFormation">Quelles changements pouvons nous faire pour permettre d’améliorer ou de rendre plus
          agréable cette formation ?</label>
        <textarea class="form-control" id="changementsFormation" rows="3" name="areaChangements"
        [(ngModel)]="reponsesTextarea['areaChangements']" #areaChangements="ngModel" required></textarea>
      </div>
    </div>

    <!-- TEXTAREA RECOMMANDATION FORMATION -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="recommandationFormation">Recommanderiez-vous cette formation à un collègue ?</label>
        <textarea class="form-control" id="recommandationFormation" rows="3" name="areaRecommandations"
        [(ngModel)]="reponsesTextarea['areaRecommandations']" #areaRecommandations="ngModel" required></textarea>
      </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="formulaire.form.invalid" name="btnSubmit" id="btnSubmit" >
      Envoyer
    </button>
  </form>
</div>

