<div class="container">
  <h1 style="font-weight: bold"> Questionnaire d'évaluation à chaud </h1>
  <form autocomplete="off" name="formQuestionnaire" #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)">

    <!-- CHAMP ENVOI REUSSI -->
    <div style="width: 18%" class="alert alert-info" *ngIf="formulaireEnvove === true">
      Formulaire bien envoyé.
    </div>

    <!-- CHAMP NOM PRENOM -->
    <div class="collapse in" id="collapseSensi">
      <div class="form-group row">
        <div class="col-xs-2">
          <label for="nomInput">Nom</label>
          <input class="form-control" type="text" id="nomInput" name="nom" [(ngModel)]="nomEleve" #nom="ngModel" optional>
        </div>
        <div class="col-xs-2">
          <label for="prenomInput">Prénom</label>
          <input class="form-control" type="text" id="prenomInput"
                 name="prenom" [(ngModel)]="prenomEleve"
                 value="..." #prenom="ngModel" optional>
        </div>
      </div>

      <!-- VALIDATION PRENOM NOM -->
      <div *ngIf="formulaire.submitted && !nom">
        <div style="width: 17%; padding: 10px" class="alert alert-danger">
          Vous devez entrer un nom.
        </div>
      </div>
      <div *ngIf="formulaire.submitted && !prenom">
        <div style="width: 20%; padding: 10px" class="alert alert-danger">
          Vous devez entrer un prénom.
        </div>
      </div>
    </div>
    <!-- BOUTON D'ANONYMAT -->
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSensi"
            aria-expanded="false" aria-controls="collapseSensi">
      Questionnaire anonyme
    </button> <br>

    <!-- CHAMP EMAIL -->
    <div class="form-group row">
      <div class="col-xs-3">
        <label for="emailInputId">Adresse e-mail</label>
        <input class="form-control" type="email" name="mailEleve" id="emailInputId"
               [(ngModel)]="mailEleve" #email="ngModel" required placeholder="adresse@example.com">
        <small id="emailHelp" class="form-text">Votre adresse sera utilisée pour vous envoyer
          un questionnaire "à froid" dans 3 mois.</small>
      </div>
    </div>
    <!-- VALIDATION CHAMP EMAIL -->
    <div>
      <div style="width: 25%; padding: 10px" class="alert alert-danger">
        Veuillez entrer une adresse email valide.
        <!-- Autres types d'erreur ... ? -->
      </div>
    </div>

    <!-- CHAMP NOMS FORMATEUR ET FORMATION -->
    <div class="form-group row">
      <div class="col-xs-3">
        <b>Nom du formateur</b>
        <input class="form-control" type="text" id="nomFormateurId" name="nomFormateur" [(ngModel)]="nomFormateur"
                        #nformateur="ngModel" required>
      </div>
      <div class="col-xs-3">
        <b>Prénom du formateur</b>
        <input class="form-control" type="text" id="prenomFormateurId" name="prenomFormateur" [(ngModel)]="prenomFormateur"
               #pformateur="ngModel" required>
      </div>
    </div>
    <div class="form-group-row" style="padding-left: 0%">
        <div class="col-xs-4">
          <b>Intitulé de la formation</b>
          <input class="form-control" type="text" id="nomFormationId" name="nomFormation" [(ngModel)]="nomFormation"
                 #formation="ngModel" required>
        </div>
    </div> <br> <br> <br> <br>
    <!-- VALIDATION FORMATEUR FORMATION -->

    <!-- RADIO RAISON SUIVI DE LA FORMATION -->
    <b>{{questionsReponsesRadio.suiviFormation['question']}}</b>
    <div class="form-group-row">
      <div *ngFor="let options of radioRaisonFormation" class="form-check">
          <input (change)="storeValueRadio($event, questionsReponsesRadio.suiviFormation, 'reponse')"
                   class="form-check-input" type="radio" value="{{options}}" name="raisonSuiviRadio">
          <span style="font-weight: normal"> {{options}}</span>
      </div>
    </div>
    <!-- VALIDATION SUIVI FORMATION RADIO -->

    <!-- RADIO SATISFACTION DE LA FORMATION -->
    <b>{{questionsReponsesRadio.satisfactionFormation['question']}}</b> <br>
    <div class="form-group" id="satisfactionFormation">
      <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.satisfactionFormation, 'reponse')"
               class="form-check-input" type="radio" name="satisfactionRadio" value={{satisfaction}}>
        <span style="font-weight: normal"> {{satisfaction}} </span>
      </div>
    </div>
    <!-- VALIDATION SATISFACTION FORMATION RADIO -->

    <!-- TEXTAREA DETAILS INSATISFACTION FORMATION -->
    <b>{{questionsReponsesTextarea.insatisfactionFormation['question']}}</b>
    <div class="form-group row">
      <div class="col-xs-7">
        <textarea class="form-control" id="insatisfactionDetails" rows="3" name="instatisfactionFormation"
        [(ngModel)]="questionsReponsesTextarea.insatisfactionFormation['reponse']">
        </textarea>
      </div>
    </div>
    <p>Contenu ['insatisfactionFormation']['reponse'] : {{questionsReponsesTextarea.insatisfactionFormation['reponse']}}</p>

    <!-- TEXTAREA DETAILS OBJECTIFS CLAIREMENT DEFINIS -->
    <b>{{questionsReponsesTextarea.objectifsFormation['question']}}</b>
    <div class="form-group row">
      <div class="col-xs-7">
        <textarea class="form-control" id="objectifsClairs" rows="3" name="objectifsFormation"
        [(ngModel)]="questionsReponsesTextarea.objectifsFormation['reponse']" #objectifs="ngModel" required>
        </textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS PLUS UTILE FORMATION -->
    <b>{{questionsReponsesTextarea.utileFormation['question']}}</b>
    <div class="form-group row">
      <div class="col-xs-7">
        <textarea class="form-control" id="plusUtile" rows="3" name="utileFormation" optional
        [(ngModel)]="questionsReponsesTextarea.utileFormation['reponse']" #utile="ngModel">
        </textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS INTERETS NEGATIF -->
    <b>{{questionsReponsesTextarea.nonInteretFormation['question']}}</b>
    <div class="form-group row">
      <div class="col-xs-7">
        <textarea class="form-control" id="nonInteret" rows="3" name="nonInteretFormation"
        [(ngModel)]="questionsReponsesTextarea.nonInteretFormation['reponse']" #nonInteret="ngModel" optional>
        </textarea>
      </div>
    </div>

    <!-- RADIO APPROFONDISSEMENTS FORMATION -->
    <b>{{questionsReponsesRadio['approfondissementFormation']['question']}}</b>
    <div class="form-group" id="approfFormation">
      <div class="form-check form-check-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.approfondissementFormation, 'reponse')"
               class="form-check-input" type="radio" name="approfondissementsFormation" id="approfondissementsFormation1"
               value="Oui">
        <label class="form-check-label" for="approfondissementsFormation1">
          <span style="font-weight: normal"> Oui, lesquels ? </span>
          <input type="text" name="detailsApprof" [(ngModel)]="questionsReponsesRadio['approfondissementFormation']['details']"
                 style="width: 60%">
        </label>
      </div>
      <p>{{questionsReponsesRadio['approfondissementFormation']['details'] }}</p>
      <div class="form-check form-check-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.approfondissementFormation, 'reponse')"
               class="form-check-input"  type="radio" name="approfondissementsFormation" id="approfondissementsFormation2"
               value="Non">
        <label style="width: 80%" class="form-check-label" for="approfondissementsFormation2">
          <span style="font-weight: normal"> Non  </span>
        </label>
      </div>
    </div>
    <!-- VALIDATION APPROFONDISSEMENT RADIO -->

    <!-- RADIO DUREE FORMATION -->
    <b>{{questionsReponsesRadio.dureeFormation['question']}}</b>
    <div class="form-group" id="dureeFormat">
      <div *ngFor="let duree of radioDureeFormation" class="checkbox-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.dureeFormation, 'reponse')"
               class="form-check-input" type="radio" name="dureeFormation" value="{{duree}}">
        <span style="font-weight: normal">{{duree}}</span>
      </div>
    </div>
    <!-- VALIDATION DUREE RADIO -->

    <!-- RADIO ECOUTE PROFESSEUR -->
    <b>{{questionsReponsesRadio.ecouteFormation['question']}}</b>
    <div class="form-group">
        <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
          <input (change)="storeValueRadio($event, questionsReponsesRadio.ecouteFormation, 'reponse')"
                 class="form-check-input" type="radio" name="ecouteFormation" value="{{satisfaction}}">
          <span style="font-weight: normal">{{satisfaction}}</span>
        </div>
    </div>
    <!-- VALIDATION ECOUTE RADIO -->

    <!-- RADIO COMPETENCES ENSEIGNEES PROFESSEUR -->
    <b>{{questionsReponsesRadio.competencesFormation['question']}}</b>
    <div class="form-group">
        <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
          <input (change)="storeValueRadio($event, questionsReponsesRadio.competencesFormation, 'reponse')"
                 class="form-check-input" type="radio" name="competencesRadio" value="{{satisfaction}}">
          <span style="font-weight: normal">{{satisfaction}}</span>
        </div>
    </div>
    <!-- VALIDATION COMPETENCES RADIO -->

    <!-- RADIO ARTICULATION ENTRE PHASES -->
    <b>{{questionsReponsesRadio.phasesFormation['question']}}</b>
    <div class="form-group">
      <div *ngFor="let options of radioPhasesFormation" class="form-check">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.phasesFormation, 'reponse')"
               class="form-check-input" type="radio" value="{{options}}" name="phasesRadio">
        <span style="font-weight: normal"> {{options}}</span>
      </div>
    </div>
    <!-- VALIDATION PHASES RADIO -->

    <!-- RADIO ENVIRONNEMENT DU STAGE -->
    <b>{{questionsReponsesRadio.environnementFormation['question']}}</b>
    <div class="form-group">
      <div *ngFor="let satisfaction of radioSatisfactionFormation" class="checkbox-inline">
        <input (change)="storeValueRadio($event, questionsReponsesRadio.environnementFormation, 'reponse')"
               class="form-check-input" type="radio" name="environnementRadio" value="{{satisfaction}}">
        <span style="font-weight: normal">{{satisfaction}}</span>
      </div>
    </div>
    <!-- VALIDATION ENVIRONNEMENT RADIO -->

    <!-- RADIO QUALITE OUTILS PEDAGOGIQUES -->
    <b>{{questionsReponsesRadio.outilsFormation['question']}}</b>
    <div class="form-group" id="outilsPedagogiques">
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="storeValueRadio($event, questionsReponsesRadio.outilsFormation, 'reponse')"
              type="radio" name="outilsPedagogiques" id="outilsPedagogiques1" value="Oui">
        <label class="form-check-label" for="outilsPedagogiques1">
          <span style="font-weight: normal"> Oui </span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" (change)="storeValueRadio($event, questionsReponsesRadio.outilsFormation, 'reponse')"
               type="radio" name="outilsPedagogiques" id="outilsPedagogiques2" value="Non">
        <label style="width: 80%" class="form-check-label" for="outilsPedagogiques2">
          <span style="font-weight: normal"> Non, pourquoi ? </span>
          <input type="text" id="outilsPedagos" [(ngModel)]="questionsReponsesRadio.outilsFormation['details']"
                 name="detailsOutils" #detailsOutils="ngModel" style="width: 60%">
        </label>
      </div>
    </div>
    <!-- VALIDATION OUTILS RADIO -->

    <!-- TEXTAREA CHANGEMENTS FORMATION POSSIBLES -->
    <b>{{questionsReponsesTextarea.changementsFormation['question']}}</b>
    <div class="form-group row">
      <div class="col-xs-7">
        <textarea class="form-control" id="changementsFormation" rows="3" name="changementsFormation"
        [(ngModel)]="questionsReponsesTextarea.changementsFormation['reponse']" #changements="ngModel" optional>
        </textarea>
      </div>
    </div>

    <!-- TEXTAREA RECOMMANDATION FORMATION -->
    <b>{{questionsReponsesTextarea.recommandationFormation['question']}}</b>
    <div class="form-group row">
      <div class="col-xs-7">
        <textarea class="form-control" id="recommandationFormation" rows="3" name="recommandationFormation"
        [(ngModel)]="questionsReponsesTextarea.recommandationFormation['reponse']" #recommandation="ngModel" optional>
        </textarea>
      </div>
    </div>

    <button type="button" name="btnRequest" (click)="requests()"> Lancer requêtes </button>
    <button type="button" name="btnDate" (click)="testDate()">Date AJD</button>

    <p>{{todayDate()}}</p>

    <button class="btn btn-success" type="submit" name="btnSubmit" id="btnSubmit">
      Envoyer
    </button>
  </form>
</div>

