<div class="container">
  <h1 style="font-weight: bold"> Questionnaire d'évaluation à chaud </h1>

  <form autocomplete="off">

    <!-- CHAMP NOM PRENOM -->
    <div class="collapse in" id="collapseExample">
      <div class="form-group row">
        <div class="col-xs-2">
          <label for="nomInput">Nom</label>
          <input name="nom" [(ngModel)]="nom" #leNom="ngModel" type="text" class="form-control" id="nomInput">
        </div>
        <div class="col-xs-2">
          <label for="prenomInput">Prénom</label>
          <input name="prenom" [(ngModel)]="prenom" #lePrenom="ngModel" type="text" class="form-control" id="prenomInput">
        </div>
      </div>
      <div *ngIf="leNom.value.length < 3 && leNom.value.length >= 1" [hidden]="leNom.value.length === 0" class="alert alert-info"
           style="width: 40%">
        Le nom doit faire au moins 2 caractères.
      </div>
      <div *ngIf="lePrenom.value.length < 3 && lePrenom.value.length >= 1" [hidden]="lePrenom.value.length === 0" class="alert alert-info"
           style="width: 40%">
        Le prénom doit faire au moins 2 caractères.
      </div>
    </div>

    <!-- BOUTON D'ANONYMAT -->
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
      Questionnaire anonyme
    </button> <br>

    <br>

    <!-- CHAMP EMAIL -->
    <div class="form-group row" id="email">
      <div class="col-xs-3">
        <label for="emailInput">Adresse e-mail</label>
        <input name="leMail" [(ngModel)]="mail" type="email" class="form-control" id="emailInput" placeholder="adresse@example.com"
               #leMail="ngModel">
        <small id="emailHelp" class="form-text">Votre adresse sera utilisée pour vous envoyer
          un questionnaire "à froid" dans 3 mois.</small>
      </div>
    </div>
    <!-- MESSAGES D'ERREURS CHAMP EMAIL -->
    <div *ngIf="leMail.value" class="alert alert-info" style="width: 50%">
      Le mail doit faire au moins 7 caractères.
    </div>

    <!-- CHAMP NOMS FORMATEUR ET FORMATION -->
    <div class="form-group row">
      <div class="col-xs-3">
        <b>Nom du formateur</b> <input type="text" class="form-control" id="formateurInput" placeholder="Casanova">
      </div>
      <div class="col-xs-4">
        <b>Intitulé de la formation</b> <input type="text" class="form-control" id="nomFormationInput" placeholder="Libre Office Writter ...">
      </div>
    </div>

    <!-- RADIO RAISON SUIVI DE LA FORMATION -->
    <b>Pour quelles raisons avez-vous suivi cette formation ?</b>
    <div class="form-group" id="raisonSuiviFormation">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="raisonSuiviRadio" id="raisonSuiviRadio1" value="raisonSuiviRadio1" checked>
        <label class="form-check-label" for="raisonSuiviRadio1">
          <span style="font-weight: normal">Formation prévue par l'entreprise</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="raisonSuiviRadio" id="raisonSuiviRadio2" value="raisonSuiviRadio2" checked>
        <label class="form-check-label" for="raisonSuiviRadio2">
          <span style="font-weight: normal">Renforcer des compétences dans votre poste</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="raisonSuiviRadio" id="raisonSuiviRadio3" value="raisonSuiviRadio3" checked>
        <label class="form-check-label" for="raisonSuiviRadio3">
          <span style="font-weight: normal">Acquérir de nouvelles compétences</span>
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="raisonSuiviRadio" id="raisonSuiviRadio4" value="raisonSuiviRadio4" checked>
        <label class="form-check-label" for="raisonSuiviRadio4">
          <span style="font-weight: normal">Pour une évolution professionnelle</span>
        </label>
      </div>
    </div>

    <!-- RADIO SATISFACTION DE LA FORMATION -->
    <div class="form-group" id="satisfactionFormation">
      <b>A l'issu de ce stage, êtes-vous ?</b> <br>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="satisfactionRadio" id="satisfactionRadio1" value="satisfactionRadio1">
        <label class="form-check-label" for="satisfactionRadio1">
          <span style="font-weight: normal"> Très satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="satisfactionRadio" id="satisfactionRadio2" value="satisfactionRadio2">
        <label class="form-check-label" for="satisfactionRadio2">
          <span style="font-weight: normal"> Satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="satisfactionRadio" id="satisfactionRadio3" value="satisfactionRadio3">
        <label class="form-check-label" for="satisfactionRadio3">
          <span style="font-weight: normal"> Assez satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="satisfactionRadio" id="satisfactionRadio4" value="satisfactionRadio4">
        <label class="form-check-label" for="satisfactionRadio4">
          <span style="font-weight: normal"> Insatisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="satisfactionRadio" id="satisfactionRadio5" value="satisfactionRadio5">
        <label class="form-check-label" for="satisfactionRadio5">
          <span style="font-weight: normal"> Très insatisfait </span>
        </label>
      </div>
    </div>

    <!-- TEXTAREA DETAILS INSATISFACTION FORMATION -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="insatisfactionDetails">En cas d’insatisfaction, pourquoi cette formation n’a pas répondue à vos besoins ?</label>
        <textarea class="form-control" id="insatisfactionDetails" rows="3"></textarea>
      </div>
    </div> <br>

    <!-- TEXTAREA DETAILS OBJECTIFS CLAIREMENT DEFINIS -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="objectifsClairs">Selon vous, les objectifs de la formation ont- ils été clairement formulés en début de session ?</label>
        <textarea class="form-control" id="objectifsClairs" rows="3"></textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS PLUS UTILE FORMATION -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="plusUtile">Qu'est-ce qui vous a paru le plus utile pendant cette formation?</label>
        <textarea class="form-control" id="plusUtile" rows="3"></textarea>
      </div>
    </div>

    <!-- TEXTAREA DETAILS INTERETS NEGATIF -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="nonInteret">Quels points n’ont pas retenu votre intérêt ?</label>
        <textarea class="form-control" id="nonInteret" rows="3"></textarea>
      </div>
    </div>

    <!-- RADIO APPROFONDISSEMENTS FORMATION -->
    <b>Cette formation mérite-elle des approfondissements ?</b>
    <div class="form-group" id="approfFormation">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="approfRadio" id="approfFormation1" value="approfFormation1">
        <label style="width: 80%" class="form-check-label" for="approfFormation1">
          <span style="font-weight: normal"> Oui, lesquels ? </span>
          <input type="text" id="approfDetails" style="width: 60%">
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  type="radio" name="approfRadio" id="approfFormation2" value="approfFormation2">
        <label class="form-check-label" for="approfFormation2">
          <span style="font-weight: normal"> Non </span>
        </label>
      </div>
    </div>

    <!-- RADIO DUREE FORMATION -->
    <b>Que pensez-vous de la durée de la formation ?</b>
    <div class="form-group" id="dureeformationRadio">
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="dureeRadio" id="dureeRadio1" value="dureeRadio1">
        <label class="form-check-label" for="dureeRadio1">
          <span style="font-weight: normal"> Trop longue </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="dureeRadio" id="dureeRadio2" value="dureeRadio2">
        <label class="form-check-label" for="dureeRadio2">
          <span style="font-weight: normal"> Correct </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="dureeRadio" id="dureeRadio3" value="dureeRadio3">
        <label class="form-check-label" for="dureeRadio3">
          <span style="font-weight: normal"> Trop courte </span>
        </label>
      </div>
    </div>

    <!-- RADIO ECOUTE PROFESSEUR -->
    <b>Comment jugez-vous la capacité du formateur à répondre clairement à vos interrogations ?</b>
    <div class="form-group" id="interrogationsProfRadio">
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="interrosRadio" id="interrosRadio1" value="interrosRadio1">
        <label class="form-check-label" for="interrosRadio1">
          <span style="font-weight: normal"> Très satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="interrosRadio" id="interrosRadio2" value="interrosRadio2">
        <label class="form-check-label" for="interrosRadio2">
          <span style="font-weight: normal"> Satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="interrosRadio" id="interrosRadio3" value="interrosRadio3">
        <label class="form-check-label" for="interrosRadio3">
          <span style="font-weight: normal"> Assez satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="interrosRadio" id="interrosRadio4" value="interrosRadio4">
        <label class="form-check-label" for="interrosRadio4">
          <span style="font-weight: normal"> Insatisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="interrosRadio" id="interrosRadio5" value="interrosRadio5">
        <label class="form-check-label" for="interrosRadio5">
          <span style="font-weight: normal"> Très insatisfait </span>
        </label>
      </div>
    </div>

    <!-- RADIO COMPETENCES ENSEIGNEES PROFESSEUR -->
    <b>Comment évaluez-vous les compétences démontrées par le formateur ?</b>
    <div class="form-group" id="compentencesProfRadio">
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="competencesProfRadio" id="competencesProfRadio1" value="competencesProfRadio1">
        <label class="form-check-label" for="competencesProfRadio1">
          <span style="font-weight: normal"> Très satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="competencesProfRadio" id="competencesProfRadio2" value="competencesProfRadio2">
        <label class="form-check-label" for="competencesProfRadio2">
          <span style="font-weight: normal"> Satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="competencesProfRadio" id="competencesProfRadio3" value="competencesProfRadio3">
        <label class="form-check-label" for="competencesProfRadio3">
          <span style="font-weight: normal"> Assez satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="competencesProfRadio" id="competencesProfRadio4" value="competencesProfRadio4">
        <label class="form-check-label" for="competencesProfRadio4">
          <span style="font-weight: normal"> Insatisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="competencesProfRadio" id="competencesProfRadio5" value="competencesProfRadio5">
        <label class="form-check-label" for="competencesProfRadio5">
          <span style="font-weight: normal"> Très insatisfait </span>
        </label>
      </div>
    </div>

    <!-- RADIO ARTICULATION ENTRE PHASES -->
    <b>Que pensez-vous de l’articulation entre les phases de pratique et de théorie ?</b>
    <div class="form-group" id="articulationPhasesRadio">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="articulationRadio" id="articulationRadio1" value="articulationRadio1">
        <label class="form-check-label" for="articulationRadio1">
          <span style="font-weight: normal"> Trop de pratique </span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="articulationRadio" id="articulationRadio2" value="articulationRadio2">
        <label class="form-check-label" for="articulationRadio2">
          <span style="font-weight: normal"> Equilibré </span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="articulationRadio" id="articulationRadio3" value="articulationRadio3">
        <label class="form-check-label" for="articulationRadio3">
          <span style="font-weight: normal"> Trop de théorie </span>
        </label>
      </div>
    </div>

    <!-- RADIO ENVIRONNEMENT DU STAGE -->
    <b>Que pouvez-vous dire sur l’environnement du stage ( locaux, installation du lieu, ... )</b>
    <div class="form-group" id="environnementStageRadio">
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="environnementRadio" id="environnementRadio1" value="environnementRadio1">
        <label class="form-check-label" for="environnementRadio1">
          <span style="font-weight: normal"> Très satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="environnementRadio" id="environnementRadio2" value="environnementRadio2">
        <label class="form-check-label" for="environnementRadio2">
          <span style="font-weight: normal"> Satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="environnementRadio" id="environnementRadio3" value="environnementRadio3">
        <label class="form-check-label" for="environnementRadio3">
          <span style="font-weight: normal"> Assez satisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="environnementRadio" id="environnementRadio4" value="environnementRadio4">
        <label class="form-check-label" for="environnementRadio4">
          <span style="font-weight: normal"> Insatisfait </span>
        </label>
      </div>
      <div class="checkbox-inline">
        <input class="form-check-input" type="radio" name="environnementRadio" id="environnementRadio5" value="environnementRadio5">
        <label class="form-check-label" for="environnementRadio5">
          <span style="font-weight: normal"> Très insatisfait </span>
        </label>
      </div>
    </div>

    <!-- RADIO QUALITE OUTILS PEDAGOGIQUES -->
    <b>La qualité des outils pédagogiques à disposition vous semble t- elle efficace ?</b>
    <div class="form-group" id="outilsPedagogiques">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="outilsPedagogiques" id="outilsPedagogiques1" value="outilsPedagogiques1">
        <label class="form-check-label" for="outilsPedagogiques1">
          <span style="font-weight: normal"> Oui </span>
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"  type="radio" name="outilsPedagogiques" id="outilsPedagogiques2" value="outilsPedagogiques2">
        <label style="width: 80%" class="form-check-label" for="outilsPedagogiques2">
          <span style="font-weight: normal"> Non, pourquoi ? </span>
          <input type="text" id="outilsPedagos" style="width: 60%">
        </label>
      </div>
    </div>

    <!-- TEXTAREA CHANGEMENTS FORMATION POSSIBLES -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="changementsFormation">Quelles changements pouvons nous faire pour permettre d’améliorer ou de rendre plus
          agréable cette formation ?</label>
        <textarea class="form-control" id="changementsFormation" rows="3"></textarea>
      </div>
    </div>

    <!-- TEXTAREA RECOMMANDATION FORMATION -->
    <div class="form-group row">
      <div class="col-xs-7">
        <label for="recommandationFormation">Recommanderiez-vous cette formation à un collègue ?</label>
        <textarea class="form-control" id="recommandationFormation" rows="3"></textarea>
      </div>
    </div>

    <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-success"> Envoyer </button> <br>
  </form>
</div>

